<section class="contact" id="contact">
    <div class="custom-shape-divider-top-1678901234">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>

    <div class="container">
        <h2 class="section-title">Entre em contato</h2>
        <div class="contact-buttons">
            <a href="tel:+5527992535633" class="btn-contact">
                <i class="fas fa-phone-alt"></i> Ligar
            </a>
            <a href="https://wa.me/5527992535633" target="_blank" class="btn-contact">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
            <a href="mailto:wgbzadvogadas@gmail.com" class="btn-contact">
                <i class="far fa-envelope"></i> E-mail
            </a>
        </div>
    </div>

    <div class="custom-shape-divider-bottom-1678901234">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M0,32L48,37.3C96,43,192,53,288,58.7C384,64,480,64,576,58.7C672,53,768,43,864,42.7C960,43,1056,53,1152,58.7L1200,64V120H0Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>