<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="carousel-container">
                <h1 class="hero-title" *ngFor="let specialty of specialties; let i = index"
                    [class.active]="i === currentIndex">
                    Especialistas em Direito {{ specialty }}
                </h1>
            </div>

            <div class="carousel-controls">
                <button class="control-button prev" (click)="prevSlide()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.41 7.41L14 6L8 12L14 18L15.41 16.59L10.83 12L15.41 7.41Z" fill="currentColor" />
                    </svg>
                </button>
                <div class="indicators">
                    <span *ngFor="let specialty of specialties; let i = index" class="indicator"
                        [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
                </div>
                <button class="control-button next" (click)="nextSlide(); resetTimer()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.59 16.59L13.17 12L8.59 7.41L10 6L16 12L10 18L8.59 16.59Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="background-watermark">WGBZ</div>
</section>