.location {
    padding: 5rem 0;
    background-color: #f9f9f9;
    text-align: center;

    .section-title {
        font-size: 3rem;
        font-family: var(--font-serif);
        color: var(--color-primary);
        margin-bottom: 1rem;
    }

    .address-text {
        font-size: 1.1rem;
        color: #555;
        margin-bottom: 3rem;
        font-family: var(--font-sans);
    }

    .map-container {
        background-color: var(--color-primary);
        /* Wine color */
        padding: 2rem;
        /* Creates the border effect */
        border-radius: 30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 0 auto;

        iframe {
            border-radius: 20px;
            display: block;
            width: 100%;
            height: 400px;
        }
    }
}

@media (max-width: 768px) {
    .location {
        margin-top: -2px;
        /* Overlap with Contact section to prevent gap */

        .section-title {
            font-size: 2.5rem;
        }

        .map-container {
            padding: 1rem;
            border-radius: 20px;

            iframe {
                height: 300px;
            }
        }
    }
}